
// ===============================
// VARIABLES
// ===============================
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Mukta:wght@400;700&display=swap');

// colors
$bg-color: #001F24;
$red-color: #F70000;
$accent-color: #006a69;
$accent-color-2: #F7F5E9;
$accent-color-3: #0a869c;
$red-hover-color: #f80027;
$black-color: #000;
$white-color: #fff;

//fonts
$lato-font:  'Lato', sans-serif;
$mukta-font: 'Mukta', sans-serif;

// breakpoints
$breakpoint-sm: 550px;
$breakpoint-m: 850px;
$breakpoint-lg: 1150px;