@import '../../../../variables.scss';

.navi {
    background: $bg-color;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

.navi h1 {
    color: #1f1f1f;
}


.btn {
    padding: .75rem;
    background: $bg-color;
    color: $accent-color;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
    color: $accent-color-2;
}

.active {
    color: $accent-color-2;
}