@import '../../../../variables.scss';

.navi {
    background: $bg-color;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}

.btn {
    padding: .75rem;
    background: $bg-color;
    color: $accent-color;
    display: inline-block;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    color: $accent-color-2;
    text-decoration: underline;
}

.active {
    color: $accent-color-2;
}