@import '../../variables.scss';


.content {
    background: $accent-color-2;
    padding: 6rem;
    font-family: $lato-font;
    font-size: 1.30em;
    line-height: 1.7em;

    a {
        color: $accent-color-3;
    }

    a:hover {
        color: $accent-color;
        text-decoration: none;
    }

    a img {
        border: .75em solid $red-hover-color;
    }

    a img:hover,
    a img:active,
    a img:focus {
        border: .75em solid $accent-color;
    }
}

.title {
    font-weight: bold;
    font-size: 2.25em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .05em;
    margin-bottom: .75em;
    font-family: $mukta-font;
}
