.port {
    display: flex;
    flex-flow: wrap row;
    position: relative;
    justify-items: center;
}

.thumbnail {
    flex: 25%;
    max-width: 25%;
}

.thumbnail img {
    vertical-align: middle;
    width: 100%;
  }