@import '../../../variables.scss';

.banner {
    background: $bg-color;
    text-align: center;
    position: relative;
    padding: 1rem;
    z-index: 1;
}

.hero {
    font-weight: bold;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1em;
}

.logo {
   flex: 1;
   text-align: center;
}

.logo a {
    color: $red-color;
    text-transform: uppercase;
    font-family: $lato-font;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
    word-spacing: 100vw; 
}

.logo a:hover {
    color: $accent-color;
}

.subheader {
    color: $accent-color-2;
    font-family: $lato-font;
    font-size: 1.5em;
    flex: 2;
    letter-spacing: .05em;
}

a.links {
    color: $accent-color-2;
}

a:hover.links {
    color: $accent-color;
}



.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $mukta-font;
}