
.banner {
    border: 1px solid red;
    background: #3a3a3a;
    color: #ccc;
    text-align: center;
    position: relative;
    z-index: 1;
}

a.logo {
    color: red;
    text-transform: uppercase;
}

a.links{
    color: #f7efcf;
}



nav.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}